body{
    font-family: "Montserrat";  
}

#title{
    background-color:#ff4c68;
    color:#fff;



}
.container-fluid{
    padding:3% 15% 4%;
}
h1,h2,h3{
    font-family:"Montserrat";
    font-weight:Bold;
}


h1
{  font-family: "Montserrat";  
    font-size: 3rem; 
     line-height: 1.5; 
      font-weight: Bold;
      
 }
 h2{
    font-family:"Montserrat";
    font-weight:Bold;
    font-size:2.5rem;
    line-height:1.5;
 }

.navbar{
        padding-bottom: 4.5rem;
    }

    
.navbar-brand{
    font-family:"Ubuntu";
    font-size:2.5rem;
    font-weight:400;
}
.nav-item{
    padding:0 18px;
   
   
}
.nav-link{
    font-size:1.2rem;
    font-family:"Ubuntu";
}
.download-button{
    margin:5% 3% 5% 0;
}
.title-image{
    width:20%;
    transform:rotate(25deg);
    position:absolute;
    left:55%;

  
  
}
h3{
    font-family:"Montserrat";
    font-weight:Bold;
    font-size:1.5rem;

}
p{
    color:#8f8f8f;
}
base{
    color:#ef8172;
}
#features{
    padding:7% 15%;
    background-color:white;
    position:relative;
    z-index:1;
    
    
}
.feauture-box{
    text-align:center;
    padding:5%;
}
.icon{
    color:#ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color:#ff4c68;
}
#testimonials{
    
    text-align:center;
    background-color:#ff4c68;
    color:#fff;
}
.carousel-item{
    padding:7% 15%;
}
.testimonial-image{
    border-radius:100%;
    width:10%;
    margin:20px;

}
#press{
    background-color:#ff4c68;
    text-align:center;
    padding-bottom:3%;
}
.press-image{
    width:15%;
    margin:20px 20px 50px;
}
#pricing{
    padding:100px;
    text-align: center;
}
.pricing-column{
   padding: 3% 2%;
}
@media (max-width:1000px){
    #title{
        text-align:center;
    }
    .title-image{
        position:static;
        transform:rotate(0);
        width:40%;
    }
    .nav-item{
        position: relative;
        right:40%;
    }

}
#cta{
    background-color: #ff4c68;
    text-align:center;
    padding:7% 15%;
}
.last{
    color:white;
    font-size:3rem;
    padding-bottom:4%;
    line-height:1.5;
}
#footer{
    text-align: center;
    padding:7% 15%;
}
.copy{
    margin:2% 1%;
}
